.tituloCentrado {
    text-align: center;
  }
  
  .Centrado {
    display: flex;
    justify-content: center;
  }
  
  .imagenAdaptada {
    height: 50px;
    width: 50px;
  }
  
  .textWhite {
    color: white;
    text-decoration: none;
  }
  
  .separacion {
    margin-top: 30px;
  }
  
  .Azul {
    color: blue;
    font-weight: bold;
  }
  
  .marron {
    color: #d8690e91;
  }
  
  .verde {
    color: #0cec2ace;
    font-style: italic;
  }
  .mensajeFinal {
    display: flex;
  }